<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WatchPath" value="F:\Project Work\FileMonitor\WatchPath\" />
    <add key="successPath" value="F:\Project Work\FileMonitor\Success\" />
    <add key="errorPath" value="F:\Project Work\FileMonitor\Error\" />
    <add key="pattern" value="test_[1-9].txt" />
	</appSettings>
</configuration>